.Bio {
  position: relative;
  top: 80px;
  z-index: 10;
  min-height: 400px;
  overflow: visible;
}

.Bio::before {
  content: "";
  position: absolute;
  top: -20%;
  left: -20%;
  width: 300px;
  height: 300px;
  background: radial-gradient(
    circle,
    rgba(255, 20, 147, 0.3) 0%,
    rgba(0, 0, 0, 0) 70%
  );
  border-radius: 50%;
  filter: blur(80px);
  z-index: -1;
  animation: moveBlob 12s infinite alternate ease-in-out;
  pointer-events: none;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  color: white;
  margin-top: -40px;
}

.links-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 40px;
}

.links-button a {
  text-decoration: none;
  width: 90%;
}

a.btn {
  background-color: pink;
  color: black;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px 30px 10px 30px;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  animation: slideUp 0.6s ease forwards;
  opacity: 0;
  cursor: pointer;
  transition: all 0.3s ease cubic-bezier(0.4, 0, 0.2, 1);
  animation: slideUp 0.6s ease forwards, border-shine 3s infinite;
}

a.btn:hover {
  transform: translateY(-5px);
  background-color: #ff1a75;
  box-shadow: 0 0 20px rgba(255, 182, 193, 0.6);
  border-color: white;
  animation: slideUp 0.6s ease forwards;
}

a.btn:active {
  transform: scale(0.95);
  box-shadow: 0 0 5px rgba(255, 182, 193, 0.8);
}

.links-button .btn p {
  max-height: 0;
  opacity: 0;
  font-size: 16px;
  font-weight: 400;
  padding-top: 20px;
  color: rgb(24, 23, 23);
  transition: all 0.4s ease;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a.btn:hover p {
  max-height: 50px;
  opacity: 1;
  padding-top: 10px;
  color: white;
}

.btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.icons {
  font-size: 1px;
  padding-right: 8px;
  padding-top: 10px;
}

.pulse-effect {
  border: 2px solid white !important;
  animation: slideUp 0.6s ease forwards, pulse-pink 2s infinite !important;
}
