.navbar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 390px;
  background: pink;
}

.navbarTop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  font-size: 25px;
}

.img-container {
  position: relative;
  top: -10px;
  background-color: black;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  z-index: 10;
}

.img-container img {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  z-index: 10;
  animation: float 4s ease-in-out infinite;
  box-shadow: 0 0 20px rgba(255, 192, 203, 0.3);
}

.circle {
  position: absolute;
  top: 250px;
  width: 100%;
  height: 300px;
  background-color: black;
  border-radius: 50%;
  z-index: 1;
}
