@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse-pink {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 105, 180, 0.7);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(255, 105, 180, 0);
  }
  100% {
    box-shadow: 0 0 0 0px rgba(255, 105, 180, 0);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  text-align: center;
  background: black;
  height: 100%;
  width: 100%;
}

@keyframes border-shine {
  0% {
    border-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 0px rgba(255, 105, 180, 0);
  }
  50% {
    border-color: rgba(255, 182, 193, 1);
    box-shadow: 0 0 10px rgba(255, 105, 180, 0.2);
  }
  100% {
    border-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 0px rgba(255, 105, 180, 0);
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes moveBlob {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(40px, 20px) scale(1.2);
  }
  100% {
    transform: translate(-20px, 50px) scale(1);
  }
}
